<div class="container">
    <div class="row">

        <div class="mx-auto col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
            <div class="panel panel-login">
                
                <div class="panel-heading">
                    <h4>{{ strings.connection.signIn }}</h4>
                    <hr>
                    <br/>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">

                            <form id="login-form" action="/connection/connect" method="post" role="form">
                                <input type="hidden" name="_csrf" value="{{csrf}}">
								
                                <div class="form-group">
                                    <input type="text" name="login" id="login" tabindex="1" class="form-control" placeholder="{{ strings.general.login }}" value="" autofocus required>
                                </div>

                                <div class="form-group">
                                    <input type="password" name="password" id="password" tabindex="2" class="form-control" value="" placeholder="{{ strings.general.password }}" required>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <button class="form-control btn btn-login mx-auto col-sm-7 col-md-7 col-lg-7" type="submit" name="login-submit" id="login-submit" tabindex="3">
                                             {{ strings.connection.signIn }}
                                        </button>
                                    </div>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
</div>


<script type="text/javascript">
    {{> scripts/connectionScript }}
</script>