{{#if patients}}
<h3>{{ strings.patients.listPatients }}</h3>
{{else}}
<h3> {{ strings.patients.noPatientsTitle }} </h3>
{{/if}}
<br/>

<table class="table table-hover" id="table" {{#if patients}} {{else}} hidden {{/if}}>
    <thead>
        <th> {{ strings.general.firstname }} </th>
        <th> {{ strings.general.lastname }} </th>
        <th> {{ strings.pages.diets }} </th>
        <th> {{ strings.actions.actions }} </th>
    </thead>
    <tbody style="max-height: 300px; max-width: 100px; overflow: scroll;">
        {{#each patients}}
        <tr>
            <td id="firstname">{{ firstname }}</td>
            <td id="lastname">{{ lastname }}</td>
            <td id="diets">
                {{#if diets}}
                    {{#each diets}}
                        {{ name }} <br/>
                    {{/each}}
                {{else}}
                    <span style="color: lightgrey"> {{ ../strings.patients.noDiet }} </span>
                {{/if}}
            </td>
            <td>
                 {{> components/coupleButtonModifyDelete }}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<br/>
<br/>


<form>
    <div class="form-group">
        <input type="text" name="firstname" id="new-firstname" tabindex="1" maxlength="{{ settings.stringShortMaxLength }}" placeholder="{{ strings.general.firstname }}"
            required />

        <input type="text" name="lastname" id="new-lastname" tabindex="2" maxlength="{{ settings.stringShortMaxLength }}" placeholder="{{ strings.general.lastname }}" required
        />
    </div>
    
    {{#if diets}}
        <div class="form-group">
            <label for="selectDiets">{{ strings.patients.associateDiet }}</label>
            <select multiple class="form-control" id="selectDiets" tabindex="3">
                {{#each diets}}
                    <option value="{{ _id }}">
                        {{ name }}
                        {{#if description}} - {{ description }}
                        {{/if}}
                    </option>
                 {{/each}}
            </select>
        </div>

        <input type="hidden" name="_id" id="_id" value="" />

        <button id="confirm" type="submit" class="btn btn-success" tabindex="4">
            <span id="button-validate" class="glyphicon glyphicon-plus">+</span>
        </button>
    {{else}}
        <br/>

        <h3>{{ strings.diets.noDietsTitle }}</h3>
        <p>{{ strings.patients.noDietWarning }}</p>
    {{/if}}
</form>



<script type="text/javascript">
    {{> scripts/patientsScript }}
</script>
