$('button#delete').click(function (e) {
    e.preventDefault()
    e.stopPropagation()

    var tr = $(this).closest('tr')
    var id = $(this).val()

    $.ajax({
            type: 'POST',
            url: 'http://' + window.location.host + '/api/patients/' + id + '/delete',
            context: document.body,
            timeout: 1000
        })
        .done(function (data) {
            logger.info(data._id + " " + "{{ strings.toastMessage.delete.success }}")
            toastr.success("{{ strings.toastMessage.delete.success }}", data.firstname + " " + data.lastname)

            tr.animate({
                    'line-height': 0
                },
                150
            ).hide(1)
        })
        .fail(function (jqXHR, textStatus, errorThrown) {
            logger.error("{{ strings.toastMessage.delete.failure }}" + " : " + (jqXHR.responseJSON ? jqXHR.responseJSON.message : "{{ strings.general.error }}"))
            toastr.error((jqXHR.responseJSON ? jqXHR.responseJSON.message : "{{ strings.general.error }}"), "{{ strings.toastMessage.delete.failure }}")
        })
})


$('button#modify').click(function (e) {
    e.preventDefault()
    e.stopPropagation()

    $('#confirm').attr('val', $(this).attr('val'))
    $('#confirm').attr('id', 'update')

    var td = $(this).closest('td').prev().prev()

    if (td.text().trim() !== '') {
        $('#new-lastname').val(td.text().trim())
    } else {
        $('#new-lastname').val('')
    }

    $('#new-lastname').attr('placeholder', "{{ strings.patients.newLastname }}")

    td = td.prev()
    $('#new-firstname').val(td.text())
    $('#new-firstname').attr('placeholder', "{{ strings.patients.newFirstname }}")

    $('#_id').val($(this).val())

    $('#button-validate').text('V')

    $('#new-firstname').focus()
})


$('button#confirm').click(function (e) {
    e.preventDefault()
    e.stopPropagation()

    if ($('#new-firstname').val() != '' && $('#new-lastname').val() != '') {

        var selectedDiets = []
        $('#selectDiets :selected').each(function () {
            selectedDiets.push($(this).val())
        })

        var data = {
            id: $('#_id').val(),
            firstname: $('#new-firstname').val().trim(),
            lastname: $('#new-lastname').val().trim(),
            diets: selectedDiets
        }

        // if not empty, it's an update
        if (data.id) {
            $.ajax({
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    url: 'http://' + window.location.host + '/api/patients/' + data.id + '/update',
                    context: document.body,
                    timeout: 1500
                })
                .done(function (data) {
                    if (data instanceof Array) {
                        data = data[0] // because data is an array of objects
                    }

                    logger.info(data._id + " " + "{{ strings.toastMessage.update.success }}" + " : " + JSON.stringify(data))
                    toastr.success("{{ strings.toastMessage.update.success }}", data.firstname + " " + data.lastname)


                    var dietNames = []
                    for (var i = 0 i < data.diets.length ++i) {
                        dietNames.push(data.diets[i].name)
                    }

                    var tr = $('button#modify[value="' + data._id + '"]').closest('tr')

                    tr.children('#firstname').html(data.firstname)
                    tr.children('#lastname').html(data.lastname)
                    tr.children('#diets').html((dietNames.length > 0 ? dietNames.join('<br/>') : "<span style=\"color: lightgrey\">" + "{{ strings.patients.noDiet }}" + "</span>"))

                    // reset inputs
                    $('#new-firstname').attr('placeholder', "{{ strings.general.firstname }}")
                    $('#new-firstname').val('')

                    $('#new-lastname').attr('placeholder', "{{ strings.general.lastname }}")
                    $('#new-lastname').val('')

                    // reset selected elements in list
                    var options = $('#selectDiets').children()
                    for (var i=0 i<options.length ++i) {

                        options[i].selected = false
                    }

                    $('#_id').val('')

                    $('#button-validate').text('+')
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    logger.error("{{ strings.toastMessage.update.failure }}" + " : " + (jqXHR.responseJSON ? jqXHR.responseJSON.message : "{{ strings.general.error }}") + "\n" + JSON.stringify(data))
                    toastr.error((jqXHR.responseJSON ? jqXHR.responseJSON.message : "{{ strings.general.error }}"), "{{ strings.toastMessage.update.failure }}")
                })

            $('#_id').val('')

        } else {
            $.ajax({
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    url: 'http://' + window.location.host + '/api/patients/new',
                    context: document.body,
                    timeout: 1500
                })
                .done(function (data) {
                    if (data instanceof Array) {
                        data = data[0] // because data is an array of objects
                    }

                    logger.info(data._id + " " + "{{ strings.toastMessage.add.success }}" + " : " + JSON.stringify(data))
                    toastr.success("{{ strings.toastMessage.add.success }}", data.firstname + " " + data.lastname)

                    $("table#table").attr('hidden', false)

                    var v = "<div id=\"\" class=\"btn btn-xs btn-success\" style=\"width: 30px padding: 0\">" +
                        "<span class=\"glyphicon glyphicon-ok\">V</span>" +
                        "</div>"

                    var dietNames = []
                    for (var i = 0 i < data.diets.length ++i) {
                        dietNames.push(data.diets[i].name)
                    }

                    $("table#table > tbody:last-child").append(
                        "<tr>" +
                        "<td>" + data.firstname + "</td>" +
                        "<td>" + data.lastname + "</td>" +
                        "<td>" + (dietNames.length > 0 ? dietNames.join('<br/>') : "<span style=\"color: lightgrey\">" + "{{ strings.patients.noDiet }}" + "</span>") +
                        "</td>" +
                        "<td>" + v + "</td>" +
                        "</tr>"
                    )

                    $('#_id').val('')
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    logger.error("{{ strings.toastMessage.add.failure }}" + " : " + (jqXHR.responseJSON ? jqXHR.responseJSON.message : "{{ strings.general.error }}") + "\n" + JSON.stringify(data))
                    toastr.error((jqXHR.responseJSON ? jqXHR.responseJSON.message : "{{ strings.general.error }}"), "{{ strings.toastMessage.add.failure }}")
                })
        }

    } else {
        toastr.warning("{{ strings.toastMessage.warnings.missingField }}")
    }

})